/* Variaveis */

:root{
 --cinza-escuro:#6d6e71;
 --cinza-escuro-hover:#0f222b;
 --vinho:#752a42;
 --azul-claro:#54c6ed;
 --azul-claro-hover:#0ebaec;
 --perigo:#af0000;
 --bordas:#83a3b3;
 --sucesso:#008c20;
 --sucesso-hover:#016918;
 --sombra:0 0 0 0.2rem rgb(153, 170, 183);
 --cinza-fundo:#eceef0;
 --cinza-passos:#83a3b3;
}

body{
	background:#f0f1f1;
	color:#000;
	font-size: .95em;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
}
p{
	line-height: 1.6;
}
a{
	color: var(--cinza-escuro);
	text-decoration: underline;
}
a.btn{
	text-decoration: none;
}
a:hover{
	color: var(--cinza-escuro-hover);
	text-decoration: underline;
}
a img:hover{
	opacity: 0.7;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}
h2{
	color:var(--vinho);
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 0 40px 0;
	text-transform: uppercase;
}
h3{
	color:var(--cinza-escuro);
	font-family: 'Spinnaker', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
h3 span{
	text-transform: none;
}
h2 a, h3 a{
	color:var(--cinza-escuro);
	text-decoration:none;
}
h2 a:hover, h3 a:hover{
	text-decoration:none;
}
h4{
	color: var(--cinza-escuro);
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.card-header h4{
	color:#fff;
}
h5{
	font-weight: 400;
	margin-bottom: 30px;
}
h6{
	color: var(--cinza-escuro);
	font-weight: bold;
	font-size: 1.05em;
}
sub {
  bottom: -.55em;
  font-size: 3em;
	font-style: normal;
	line-height: 0;
}
ul{
	padding:0;
}
ul li{
	list-style-type: none;
	padding: 15px 0 0 0;
}
hr{
	border-color: var(--azul-claro);
}
.card ul{
	margin-bottom: 0;
}
.validacao, .validacao1, .validacao2{
 color: var(--perigo);
 display: inline-block;
}





/***  NAVEGAÇÃO  ***/
.navbar{
	background:#692439 url(../img/fundo_topo.jpg) no-repeat;
	background-size: cover;
	border: 0;
	margin-bottom: 0;
	padding: 1.5rem 1rem;
}
.navbar-collapse{
	padding: 0;
}
.navbar-brand{
	margin-right: 0;
}
.navbar-brand img{
	width: 200px;
}
.navbar .title{
	color:#fff;
	font-family: Times, Georgia, serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
}
.navbar .title span{
	font-size: 18px;
	font-weight: normal;
}
.logout{
	background-color:#fff;
	font-size: 1em;
	padding:3px 0;
}
main.container{
	padding:0;
}
.lista-fichas-pesquisador{
	padding: 0;
	border: 1px solid var(--bordas);
}
.lista-fichas-pesquisador li{
	list-style-type: none;
	border-bottom: 1px solid var(--bordas);
}
.lista-fichas-pesquisador li:last-child{
	border-bottom: 0;
}
.lista-fichas-pesquisador li a{
	display: block;
	padding: 15px;
	text-decoration: none;
}
.lista-fichas-pesquisador li a:hover{
	background-color: var(--cinza-escuro);
	color:#fff;
}
.matricula{
	display: inline-block;
	width: 25%
}
.text-success{
	color: var(--sucesso) !important;
}



/***** FORMS *****/
.espaco-matricula{
	width: 170px;
}
label{
	margin-bottom: 0;
}
.form-group{
	margin-bottom: 30px;
}
.form-inline label~input{
	margin-left: 10px;
}
.form-inline input~button{
	margin-left:20px;
}
.form-inline .form-control{
	width: auto;
}
.form-check-inline{
	margin-left: 15px;
}
.form-control{
	border-color: var(--bordas);
	border-radius: 0;
	font-size: 1em;
}
.form-check-group{
	margin-left: 20px;
}
textarea.card-body.form-control {
	border:0;
}
.form-control-plaintext{
	line-height: 1;
	padding: 0;
}
.form-control-plaintext:focus{
	border-color: transparent;
	box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
	background-color: transparent;
}
/*
.form-check-input{
	margin-left: .3rem;
}
.form-check-input~label{
	padding-left: 1.65rem;
}
.form-check-inline{
	padding-left: 1.25rem;
}
.form-check-inline .form-check-input~label{
	padding-left:.2rem;
}
.form-inline .form-control-plaintext{
	width: auto;
}*/
.form-control-plaintext{
	font-weight: 700;
}
.form-check-input:disabled~.form-check-label {
  color:#9199a0;
}
.finalizado .card{
	background-color:#fff;
	padding: 2rem;
}
.finalizado .form-group{
	border-bottom: 1px solid var(--bordas);
	margin-bottom: 3rem;
}
.finalizado .form-check-inline{
	padding-left: 0;
	margin-bottom: 3rem;
}
.finalizado label{
	font-size: .85em;
}
.finalizado h4 span{
	background-color: var(--cinza-escuro);
  color:#fff;
	display: inline-block;
  padding: .5rem;
}
.finalizado h4{
	border-bottom: 1px solid var(--bordas);
}


/***** BUTTONS *****/
.btn{
	font-size: .9em;
	border-radius: 0;
	text-transform: uppercase;
	padding: .475rem 1.35rem;
}
.btn-primary, .btn-primary:link, .btn-primary:focus, .btn-primary.focus {
  background: var(--cinza-escuro);
  border-color: var(--cinza-escuro);
}
.btn-primary:hover, .btn-primary.active, .btn-primary:active {
  background: var(--cinza-escuro-hover);
  border-color: var(--cinza-escuro-hover);
}
.projects a.btn-primary, .projects a.btn-primary:hover {
  color:#fff;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: var(--sombra);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: var(--cinza-escuro-hover);
  border-color: var(--cinza-escuro-hover);
}
.btn-success {
  background-color: var(--sucesso);
  border-color: var(--sucesso);
}
.btn-success:hover {
  background-color:var(--sucesso-hover);
  border-color: var(--sucesso-hover);
}
.btn-info, .btn-info:link, .btn-info:focus, .btn-info.focus {
  background: var(--azul-claro);
  border-color: var(--azul-claro);
}
.btn-info:hover, .btn-info.active, .btn-info:active {
  background: var(--azul-claro-hover);
  border-color: var(--azul-claro-hover);
}
.btn-sm {
  padding: .3rem .3rem .2rem .3rem;
  font-size: .8rem;
  line-height: 1.2;
  border-radius: .2rem;
}



/***** CARDS *****/
.card{
	background-color: var(--cinza-fundo);
	border-color: var(--cinza-fundo);
	border-radius: 0;
	margin-bottom: 20px;
}
.card .card{
	background-color:#fff;
	margin-bottom: 10px;
}
.card-header {
  padding: 1.25rem 1.25rem;
  background-color: var(--cinza-escuro);
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.card-header:first-child{
  border-radius: 0;
}
.card-body{
	border:1px solid var(--bordas);
}
.card-atencao, .card .card-atencao{
	background-color:#ffecee;
	border-color: var(--perigo);
	margin-bottom: 10px;
}



/***** SUEGESTÕES *****/

.sugestao{
	position: absolute;
	top: -10px;
	right: 70px;
	width: auto;
	z-index: 1000;
	margin-top: .5rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
.sugestao-conteudo{
	background-color:#fff5e6;
	border: 2px solid #ff9700;
	padding: 15px;
}
.sugestao .seta{
	top: -1.3rem;
  position: absolute;
  display: block;
  width: 5rem;
  height: 2rem;
  margin: 0 2rem;
}
.sugestao .seta::after,
.sugestao .seta::before{
  border-width: 0 1.5em 1.5em .7em;
  border-color: transparent;
  border-style: solid;
  content: "";
  display: block;
  position: absolute;
}
.sugestao .seta::before{
	top: 0;
	border-bottom-color:#ff9700;
}
.sugestao .seta::after{
	top: 3px;
  border-bottom-color:#fff5e6;
}
.sugestao li{
	display: block;
}



/***** TABELAS *****/
.table thead th, .table tbody td {
  border:1px solid var(--cinza-escuro);
}



/***** Passos *****/

.carousel-inner .btn~.btn{
	margin-left: 10px;
}
.carousel-indicators {
	border-top: 5px solid #999;
	position: relative;
	right: auto;
	bottom: auto;
	left: auto;
	margin: 40px 0 40px 0;
	z-index: 0;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}
.carousel-indicators .active{
	background-color:transparent;
}
.traco{
	border-left: 5px solid transparent;
	margin-right: -5px;
	margin-top: -12px;
  height: 19px;
}
.traco.active{
	border-left: 5px solid #999;
}
.passo{
	margin: -13px 5px 0 0;
	transition: margin .5s;
}
.traco.active + .passo{
	margin-left:calc(100% - 245px);
}
.passo.active + .passo,
.traco.active + .passo{
	margin-left:calc(100% - 210px);
}
.passo1{
	margin-left: 0;
}
.passo-num{
 background-color:#999;
 border-radius: 50px;
 color:#fff !important;
 padding: .38em .7em;
}
.passo1 .passo-num{
 padding: .38em .795em;
}
.passo-num-txt:hover{ 
 text-decoration: none;
}
.passo .passo-num-txt:hover .passo-num, .passo .passo-num-txt:hover .passo-txt, .passo .passo-num-txt:hover{
 cursor: default;
}
.passo[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num{
 background-color:#555;
 cursor: pointer;
}
.passo-txt{
	color:#999;
	display: inline-block;
	font-size: .85em;
	margin-top: 10px;
	font-weight: 300;
}
.passo-anterior, .passo-salvo{
 border-color: var(--cinza-escuro);
}
.passo-fim{
 border-color:#999;
}
.passo-anterior .passo-num, .passo-salvo .passo-num{
 background-color: var(--cinza-escuro);
}
.passo-anterior .passo-txt, .passo-salvo .passo-txt{
 color: var(--cinza-escuro);
}
.passo-anterior[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num, .passo-salvo[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num{
 background-color: var(--cinza-escuro-hover);
 text-decoration: none;
}
.carousel .active .passo-num{
 background-color: var(--azul-claro);
}
.carousel .active .passo-txt{
 color: var(--azul-claro);
}
.passo[data-target="#carrossel-passos"].active .passo-num-txt:hover .passo-num{
 background-color: var(--azul-claro);
 text-decoration: none;
}
.carousel-item{
 padding-bottom: 15px;
}



/***** MEDIA QUERIES *****/
@media (min-width: 576px){
	.form-inline label {
		justify-content: start;
	}
	.form-inline .form-group{
	margin-bottom: 30px;

	}
}

/****************************** OUTROS ******************************/
.layerErros
{
position:absolute;
/*
top:80px;
left:0px;
*/
width: 1000px; /*90%; 100%;*/
height: 30px;
visibility: visible;
z-index:18;
font-size:12px;
font-family:Verdana;
font-weight:normal;
color:#900;
background-color: transparent;
vertical-align:middle;
text-align: left;
border-bottom:#FF0000 0px;
border-left:#FF0000 0px;
border-right:#FF0000 0px;
border-top:#FF0000 0px;
}


.layerResposta
{
position:absolute;
left: 175px;
width: 270px;
height: 50px;
visibility: visible;
z-index:180;
font-size:12px;
font-family:Verdana;
font-weight:normal;
color:#900;
background-color: transparent;
vertical-align:middle;text-align: left;
}

.layerRespostaCadastro
{
position:absolute;
left: 50px;
width: 400px;
height: 35px;
visibility: visible;
z-index:180;
font-size:12px;
font-family:Verdana;
font-weight:normal;
color:#900;
background-color:transparent;
vertical-align:middle;text-align: left;
}

input[type=text].formInvisivel
{
color:black;
font-size:12.0pt;
font-weight:bold;
font-style:normal;
text-decoration:none;
font-family:Verdana;
text-align:left;
vertical-align:middle;
padding-top:0px;
padding-right:0px;
padding-left:0px;
border-top:none;
border-right:none;
border-bottom:none;
border-left:none;
white-space:nowrap;
background-color:#dde2e6;
width:180px;
height:20px;
}
.layerLogin 
{
color:#00c;
background-color: transparent;
width: 13%;
height: 300px;
visibility: visible;
z-index:18;
vertical-align:middle;
text-align: center;
position:absolute;
top:150px;
left:43%;
}
.menuIdioma
{
font-size:small;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: right;
text-decoration: none;
background-color: transparent;
position: fixed;
left:85%;
top: 2%;
}

.titulo_vermelho
{
width:100%;
left:90%;
font-size:36px;
font-family:Arial;
font-weight:bold;
color:#F33;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.titulo_preto
{
width:100%;
left:90%;
font-size:36px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.subtitulo_preto
{
width:100%;
left:90%;
font-size:20px;
font-family:Arial;
font-weight:normal;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.login_vermelho
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:bold;
color:#F33;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.login_preto
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}

.LayerDados
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:normal;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}

.LayerSaudacao
{
width:100%;
left:90%;
font-size:26px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.editarCampo
{
width:100%;
left:90%;
font-size:20px;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: left;
text-decoration: none;
background-color:#9CC;
}
.txLogin
{
width:100%;
left:90%;
font-size:x-small;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.msgLogin
{
position:absolute;
top:80px;
left:0px;
width: 100%;
height: 60px;
visibility: visible;
z-index:18;
font-size:14px;
font-family:Verdana;
font-weight:normal;
color:#33F;
background-color: transparent;
vertical-align:middle;
text-align: center;
border-bottom:#FF0000 0px;
border-left:#FF0000 0px;
border-right:#FF0000 0px;
border-top:#FF0000 0px;
} 
.layerIdioma
{
position:absolute;
left:30px;
width: 5px;
height: 8px;
visibility:hidden;
z-index:18;
font-size:10px;
font-family:Verdana;
font-weight:normal;
color:#33F;
background-color: transparent;
vertical-align:middle;
text-align: center;
border-bottom:#FF0000 0px;
border-left:#FF0000 0px;
border-right:#FF0000 0px;
border-top:#FF0000 0px;
}
.lEsqsenha
{
font-size:9px;
font-family:Verdana;
font-weight:normal;
color:#C33 ;
}
a.esqsenha:link { color:#633;}
a.esqsenha:visited { color:#633;}
a.esqsenha:hover {color: red;}
a.esqsenha:active {color: blue;}

.bot_entrar
{
color:#eee;
font-style: inherit;
font-size:16px;
font-weight: bold;
background-color:#090;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: groove;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: groove;
border-top-color:#0C0;
border-right-color:#060;
border-bottom-color:#060;
border-left-color:#0C0;
appearance: outline-tree;
align-self:center;
width: 220px;
height: 25px;
}

.FichasCompletas{
color:#000;
font-size:18px;
font-weight: bold;
}

.SemImagens{
color:#F00;
font-size:18px;
font-weight: bold;
}	

.FichasIncompletasEmCadastramento{
color:#090;
font-size:18px;
font-weight: bold;
}

.classeMenuADM{
width:30%;
z-index:-100;
background-color:yellow;
top: 80px;
right:60px;
display: block;
position: static;
border: 1px solid #900;
}  