body{
	background: #dde2e6;
	font-size: 1.2em;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	line-height: 1;
	font-weight: 400;
}
p{
	line-height: 1.6;
}
a{
	color: #274452;
	text-decoration: underline;
}
a.btn{
	text-decoration: none;
}
a:hover{
	color: #777;
	text-decoration: underline;
}
a img:hover{
	opacity: 0.7;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}
h2{
	color:#274452;
	font-family: 'Spinnaker', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	margin: 0 0 40px 0;
	text-transform: uppercase;
}
h3{
	color:#274452;
	font-family: 'Spinnaker', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
h3 span{
	text-transform: none;
}
h2 a, h3 a{
	color:#274452;
	text-decoration:none;
}
h2 a:hover, h3 a:hover{
	text-decoration:none;
}
h4{
	color: #274452;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 20px 0;
}
h5, h6{
	color: #274452;
	font-weight: bold;
	font-size: 1.05em;
}
sub {
    bottom: -.55em;
    font-size: 3em;
	font-style: normal;
	line-height: 0;
}
/***   NAVEGAÇÃO   ***/
.navbar{
	background: #727d83 url(../img/fundo_topo.jpg) no-repeat;
	background-size: cover;
	border: 0;
	margin-bottom: 0;
	padding: 1.5rem 1rem;
}
.navbar-collapse{
	padding: 0;
}
.navbar-brand{
	margin-right: 0;
}
.navbar-brand img{
	width: 200px;
}
.navbar .title{
	color: #fff;
	font-family: Times, Georgia, serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
}
.navbar .title span{
	font-size: 18px;
	font-weight: normal;
}
ul.logout{
	font-size: 1em;
	margin-bottom: 30px;
}
.logout li{
	display: inline-block;
}
.logout li:first-child{
	padding-right: 10px;
}
.logout li:first-child:after{
	content:"•";
	padding-left: 10px;
}
main.container{
	padding: 20px 0;
}
.lista-fichas-pesquisador{
	padding: 0;
	border: 1px solid #a3b1b9;
}
.lista-fichas-pesquisador li{
	list-style-type: none;
	border-bottom: 1px solid #a3b1b9;
}
.lista-fichas-pesquisador li:last-child{
	border-bottom: 0;
}
.lista-fichas-pesquisador li a{
	display: block;
	padding: 15px;
	text-decoration: none;
}
.lista-fichas-pesquisador li a:hover{
	background-color: #274452;
	color: #fff;
}
.matricula{
	display: inline-block;
	width: 25%
}
.text-success{
	color: #008c20 !important;
}



/***** FORMS *****/
.form-inline label~input{
	margin-left: 10px;
}
.form-inline input~button{
	margin-left:20px;
}
.form-control{
	font-size: 1em;
}
.form-control-plaintext{
	line-height: 1;
	padding: 0;
}
.form-control-plaintext:focus{
	border-color: transparent;
	box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
	background-color: transparent;
}


/***** BUTTONS *****/
.btn-primary, .btn-primary:link, .btn-primary:focus, .btn-primary.focus {
    background: #384f5d;
    border-color: #384f5d;
}
.btn-primary:hover, .btn-primary.active, .btn-primary:active {
    background: #0f222b;
    border-color: #0f222b;
}
.projects a.btn-primary, .projects a.btn-primary:hover {
    color: #fff;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(153, 170, 183);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #0f222b;
    border-color: #0f222b;
}
.btn-success {
    background-color: #008c20;
    border-color: #008c20;
}
.btn-success:hover {
    background-color: #016918;
    border-color: #016918;
}



/***** CARDS *****/
.card{
	background-color: rgba(255, 255, 255, 0.44);
	margin-bottom: 20px;
}



/***** TABELAS *****/
.table thead th, .table tbody td {
    border:1px solid #274452;
}



/***** Passos *****/

.carousel-inner .btn{
	margin-right: 10px;
}
.carousel-indicators {
  position: relative;
  right: auto;
  bottom: auto;
  left: auto;
  padding-left: 15px;
  z-index: 0;
}
.carousel-indicators .active{
	background-color:transparent;
}
.passos{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px 20px 20px 20px;
}
.passo{
  border-top: 5px solid #999;
  padding: 0 !important;
}
.passo:last-child{
  border:none;
}
.passo-num-txt{
  display: inline-block;
  margin-left: -40px;
  margin-top: -12px;
  text-align: center;
  width: 80px;
}
.passo:last-child .passo-num-txt{
  margin-top: -7px;
}
.passo-num{
  background-color: #999;
  border-radius: 50px;
  color: #fff !important;
  padding: .35em .7em;
}
.passo-num-txt:hover{  
  text-decoration: none;
}
.passo .passo-num-txt:hover .passo-num, .passo .passo-num-txt:hover .passo-txt, .passo .passo-num-txt:hover{
  cursor: default;
}
.passo[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num{
  background-color: #555;
  cursor: pointer;
}
.passo-txt{
  color: #999;
  display: inline-block;
  font-size: .9em;
  margin-top: 10px;
}
.passo-anterior, .passo-salvo{
  border-color: #00629b;
}
.passo-fim{
  border-color: #999;
}
.passo-anterior .passo-num, .passo-salvo .passo-num{
  background-color: #00629b;
}
.passo-anterior .passo-txt, .passo-salvo .passo-txt{
  color: #00629b;
}
.passo-anterior[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num, .passo-salvo[data-target="#carrossel-passos"] .passo-num-txt:hover .passo-num{
  background-color: #004165;
  text-decoration: none;
}
.carousel .active .passo-num{
  background-color: #008542;
}
.carousel .active .passo-txt{
  color: #008542;
}
.passo[data-target="#carrossel-passos"].active .passo-num-txt:hover .passo-num{
  background-color: #008542;
  text-decoration: none;
}
.carousel-item{
  min-height: 69vh;
  padding-bottom: 15px;
}



/***** MEDIA QUERIES *****/
@media (min-width: 576px){
	.form-inline label {
		justify-content: start;
	}
	.form-inline .form-group{
	margin-bottom: 30px;

	}
}


/****************************** OUTROS ******************************/
.layerErros
{
position:absolute;
/*
top:80px;
left:0px;
*/
width: 1000px; /*90%;  100%;*/
height: 30px;
visibility: visible;
z-index:18;
font-size:12px;
font-family:Verdana;
font-weight:normal;
color:#900;
background-color: transparent;
vertical-align:middle;
text-align: left;
border-bottom: #FF0000 0px;
border-left: #FF0000 0px;
border-right: #FF0000 0px;
border-top: #FF0000 0px;
}


.layerResposta
{
position:absolute;
left: 175px;
width: 270px;
height: 50px;
visibility: visible;
z-index:180;
font-size:12px;
font-family:Verdana;
font-weight:normal;
color:#900;
background-color: transparent;
vertical-align:middle;text-align: left;
}

input[type=text].formInvisivel
{
color:black;
font-size:12.0pt;
font-weight:bold;
font-style:normal;
text-decoration:none;
font-family:Verdana;
text-align:left;
vertical-align:middle;
padding-top:0px;
padding-right:0px;
padding-left:0px;
border-top:none;
border-right:none;
border-bottom:none;
border-left:none;
white-space:nowrap;
background-color: #dde2e6;
width:180px;
height:20px;
}
.layerLogin 
{
color:#00c;
background-color: transparent;
width: 13%;
height: 300px;
visibility: visible;
z-index:18;
vertical-align:middle;
text-align: center;
position:absolute;
top:150px;
left:43%;
}
.menuIdioma
{
font-size:small;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: right;
text-decoration: none;
background-color: transparent;
position: fixed;
left:85%;
top: 2%;
}

.titulo_vermelho
{
width:100%;
left:90%;
font-size:36px;
font-family:Arial;
font-weight:bold;
color:#F33;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.titulo_preto
{
width:100%;
left:90%;
font-size:36px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.subtitulo_preto
{
width:100%;
left:90%;
font-size:20px;
font-family:Arial;
font-weight:normal;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.login_vermelho
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:bold;
color:#F33;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.login_preto
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}

.LayerDados
{
width:100%;
left:90%;
font-size:16px;
font-family:Arial;
font-weight:normal;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}

.LayerSaudacao
{
width:100%;
left:90%;
font-size:26px;
font-family:Arial;
font-weight:bold;
color:#000;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.editarCampo
{
width:100%;
left:90%;
font-size:20px;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: left;
text-decoration: none;
background-color: #9CC;
}
.txLogin
{
width:100%;
left:90%;
font-size:x-small;
font-family:Verdana;
font-weight:normal;
color:#00C;
text-align: left;
text-decoration: none;
background-color: transparent;
}
.msgLogin
{
position:absolute;
top:80px;
left:0px;
width: 100%;
height: 60px;
visibility: visible;
z-index:18;
font-size:14px;
font-family:Verdana;
font-weight:normal;
color:#33F;
background-color: transparent;
vertical-align:middle;
text-align: center;
border-bottom: #FF0000 0px;
border-left: #FF0000 0px;
border-right: #FF0000 0px;
border-top: #FF0000 0px;
} 
.layerIdioma
{
position:absolute;
left:30px;
width: 5px;
height: 8px;
visibility:hidden;
z-index:18;
font-size:10px;
font-family:Verdana;
font-weight:normal;
color:#33F;
background-color: transparent;
vertical-align:middle;
text-align: center;
border-bottom: #FF0000 0px;
border-left: #FF0000 0px;
border-right: #FF0000 0px;
border-top: #FF0000 0px;
}
.lEsqsenha
{
font-size:9px;
font-family:Verdana;
font-weight:normal;
color:#C33 ;
}
a.esqsenha:link { color: #633;}
a.esqsenha:visited { color: #633;}
a.esqsenha:hover {color: red;}
a.esqsenha:active {color: blue;}

.bot_entrar
{
color:#eee;
font-style: inherit;
font-size:16px;
font-weight: bold;
background-color: #090;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: groove;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: groove;
border-top-color: #0C0;
border-right-color: #060;
border-bottom-color: #060;
border-left-color: #0C0;
appearance: outline-tree;
align-self:center;
width: 220px;
height: 25px;
}

.FichasCompletas{
color:#000;
font-size:18px;
font-weight: bold;
}

.SemImagens{
color:#F00;
font-size:18px;
font-weight: bold;
}	

.FichasIncompletasEmCadastramento{
color:#090;
font-size:18px;
font-weight: bold;
}